* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
}

.timeline {
	margin: 30px;
	position: relative;
}

.timeline li {
	display: flex;
	line-height: 1;
}

.timeline--date {
	flex: 0 0 150px;
	color: #999;
	font-size: 90%;
	text-align: right;
	margin: 3px 50px 0px 0px;
}

.timeline--circle {
	flex: 0 0 50px;
	position: relative;
	text-align: center;
}

.timeline--circle:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 2px;
	background: #d3d3d3;
	margin: auto;
	right: 0;
	left: 0;
	z-index: 2;
}

#timeline--last:before {
	content: "";
	position: absolute;
	height: 10px;
	width: 2px;
	background: #d3d3d3;
	margin: auto;
	right: 0;
	left: 0;
	z-index: 2;
}

.timeline--circle i {
	transition: all 0.4s ease-in-out;
	position: relative;
	display: inline-block;
	background: #ff0000;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 3;
}

.timeline--description {
	margin-left: 50px;
	padding-bottom: 100px;
}

.timeline li:first-child .timeline--date,
.timeline li:first-child .timeline--description {
	margin-top: 15px;
}

.timeline li:first-child .timeline--circle:before {
	margin-top: 15px;
}

.timeline li:first-child .timeline--circle:after {
	content: "";
	background: transparent;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border: 2px solid #e9e9e9;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	z-index: 1;
}

.timeline li:first-child i {
	background: transparent;
	width: 40px;
	height: 40px;
}

.timeline li:first-child i:after {
	content: "";
	background: #ff0000;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.timeline li:hover .timeline--date {
	color: black;
	font-weight: 600;
}

.timeline li:hover .timeline--circle i {
	transform: scale(4);
}

.timeline li:hover .timeline--description {
	color: red;
}

.timeline li:first-child:hover .timeline--circle i {
	transform: none;
	background: #222;
}

.timeline li:first-child:hover .timeline--circle:after {
	border-color: #222;
}
